{% extends 'base.html'%}
<head>
  
<head>

{% block title  %} Libros {% endblock%}

{% block content %}
<div class="container">
  <form method="GET" method=".">
      <div class="col-span-6 sm:col-span-3 mb-6">
          <label for="first-name" class="text-sm font-medium text-gray-700">Buscar</label>
          <input type="text" name="buscar" value="{{ search_text }}" class="focus:ring-gray-500 focus:border-gray-500 shadow-sm sm:text-sm border-gray-400 rounded-md">
          <button  type="submit" class="btn btn-outline-primary">
              Buscar
          </button>
      </div>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
  
          <table class="table user-list">
                  <thead >
                    <tr>
                      <th scope="col">
                        Nombre
                      </th>
                      <th scope="col">
                        Descripcion
                      </th>
                      <th scope="col">
                        Estado
                      </th>
                      <th scope="col">
                        Fecha vencimiento
                      </th>
                      <th scope="col" >
                        <span class="sr-only">Detalle</span>
                      </th>
                      <th scope="col" ></th>
                      <th scope="col" ></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tarea in tareas %}
                    {% if tarea.user == request.user %}
                    <tr>

                      <td>
                        <a class="btn" href="/{{ tarea.pk }}" class="user-link">{{ tarea.name }}</a>
                        
                      </td>
                      <td>
                        {{ tarea.description }}
                      </td>
                      <td>
                          {{ tarea.status }}
                      </td>
                      <td>
                      
                        {{ tarea.expire_date }}
                        
                        

                      </td>
                      <td>
                        {% if tarea.is_past_due %}
                        <span class="btn btn-danger">Vencida</span>
                        {% else %}
                        <span class="btn btn-success">Activa</span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="/delete/{{tarea.id}}" class="btn btn-outline-danger align-self-center mr-3">Eliminar</a>
                        <a href="/{{ tarea.pk }}" class="btn btn-outline-primary align-self-center mr-3">Ver</a>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
              </table>
        </div>
            
            <div class="col text-center">
              <form method="POST" action=".">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </form>
            </div>
          
              
          </div>
        </div>
      </div>
    </div>
</div>
  
{% endblock%}