{% extends 'base.html' %}

{% block title  %} Detalle Tarea {% endblock%}

{% block content %}
<div class="container">
  <h1 class="text-center">Tarea</h1>
    
    <div >
      <dl>
        <div>
          <dt class="text-center">
            Nombre
          </dt>
          <dd class="text-center">
            {{ tarea.name }}
          </dd>
        </div>
        <div >
          <dt class="text-center">
            Descripcion
          </dt>
          <dd class="text-center" >
            {{ tarea.description }}
          </dd>
        </div>
        <div >
          <dt class="text-center">
            Comentarios
          </dt>
          <dd class="text-center">
            {{ tarea.comments }}
          </dd>
        </div>
        <div >
          <dt class="text-center">
            Fecha de vencimiento
          </dt>
          <dd class="text-center">
            {{ tarea.expire_date }}
          </dd>
        </div>
        <div >
          <dt class="text-center">
            Estado
          </dt>
          <dd class="text-center">
            {{ tarea.get_status_display }}
          </dd>
        </div>
        <div >
          <br>
          <br>
          
          <dd class="col text-center">
            <h1>Editar</h1>
            <form method="POST" action="/{{tarea.id}}">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-outline-primary " type="submit">Editar</button>
    
              </form>
              
          </dd>
          <br>
          <div class="col text-center">
            <a href="/delete/{{tarea.id}}" class="btn btn-outline-danger align-self-center mr-3">Eliminar tarea</a>
            <br><br>
            <div class="col text-center"><a href="/" class="btn btn-outline-primary align-self-center mr-3">Regresar</a></div>
            
            
        </div>
        </div>
      </dl>
    </div>
  </div>
{% endblock%}