{% extends 'base.html' %}

{% block title  %} Detalle Tarea {% endblock%}

{% block content %}
<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ tarea.name }}</h1>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0 text-primary">Descripcion</h3>
        <p class="card-text mb-auto">{{ tarea.description }}</p>

        </div>
        
      </div>
    </div>
      <div class="col-md-6">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0 text-success">Comentarios</h3>
            <p class="card-text mb-auto">{{ tarea.comments }}</p>

          </div>
          
        </div>
      </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        
        <div class="col p-4 d-flex flex-column position-static">

          {% if tarea.is_past_due %}
          <h3 class="mb-0 text-danger">Fecha de vencimiento</h3>
          <p class="card-text mb-auto">{{ tarea.expire_date }}</p>
          <p class=" mb-0 text-danger">VENCIDA</p>
          {% else %}
          <h3 class="mb-0 text-success">Fecha de vencimiento</h3>
          <p class="card-text mb-auto">{{ tarea.expire_date }}</p>
          {% endif %}
        </div>
        
      </div>
    </div>
      <div class="col-md-6">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0 text-primary">Estado</h3>
            <p class="card-text mb-auto">{{ tarea.get_status_display }}</p>

          </div>
          
        </div>
      </div>
  </div>
  
  
    
    <div >
      <dl>
          <dd class="col text-center">
            <h1>Editar</h1>
            <form method="POST" action="/{{tarea.id}}">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-outline-primary " type="submit">Editar</button>
    
              </form>
              
          </dd>
          <br>
          <div class="col text-center">
            <a href="/delete/{{tarea.id}}" class="btn btn-outline-danger align-self-center mr-3">Eliminar tarea</a>
            <br><br>
            <div class="col text-center"><a href="/" class="btn btn-outline-primary align-self-center mr-3">Regresar</a></div>
            
            
        </div>
        </div>
      </dl>
    </div>
  </div>
{% endblock%}